{% extends "layout.html" %}


{% block title%}
    Not found
{% endblock title  %}

{% block content %}
<section class="">
    <div class="py-8 px-4 mx-auto max-w-md lg:py-16 lg:px-6">
        <div class="mx-auto max-w-sm text-center">
            <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary">
                404
            </h1>
            <p class="mb-4 text-3xl tracking-tight font-bold md:text-4xl ">
                {% if exception == "Resolver404" %}Something went wrong {% else %} {{ exception }} {% endif %}
            </p>
            <p class="mb-4 text-lg font-light text-muted-foreground">Sorry, we can't find that page. You'll find lots to explore on the home page. </p>
            <a href="/" class="btn btn-size btn-primary">Back to Homepage</a>
        </div>   
    </div>
</section>
{% endblock content %}